USE [master]
GO
/****** Object:  Database [Movies]    Script Date: 2025-03-30 17:58:16 ******/
CREATE DATABASE [Movies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Movies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Movies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movies]
GO
/****** Object:  Table [dbo].[List]    Script Date: 2025-03-30 17:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List](
	[ID] [int] NOT NULL,
	[Movie] [varchar](max) NULL,
	[Year] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[Rating] [decimal](2, 1) NULL,
	[Metascore] [int] NOT NULL,
	[Profit] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[List] ([ID], [Movie], [Year], [Time], [Rating], [Metascore], [Profit]) VALUES (1, N'The Shawshank Redemption', 1994, 142, CAST(9.3 AS Decimal(2, 1)), 81, 28340000)
INSERT [dbo].[List] ([ID], [Movie], [Year], [Time], [Rating], [Metascore], [Profit]) VALUES (2, N'The Godfather', 1972, 175, CAST(9.2 AS Decimal(2, 1)), 100, 134970000)
INSERT [dbo].[List] ([ID], [Movie], [Year], [Time], [Rating], [Metascore], [Profit]) VALUES (3, N'The Dark Knight', 2008, 152, CAST(9.0 AS Decimal(2, 1)), 84, 534860000)
GO
USE [master]
GO
